#intro {
    color: black;
    text-align: center;
    font-size: 2rem;
    padding-top: 4rem;
}

#fotos {
    display: flex;
    justify-content: center;
}

.card {
    text-align: center;
    padding: 3rem;
    margin: 4rem;
    background-color: #1a7a07;
    border-radius: 1.5rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
}

.card:hover {
    z-index: 999;
    transform: scale(1.2);
    transition: 0.5s;
}

.pfp {
    border-radius: 50%;
    width: 150px;
}

.social-media img {
    width: 3rem;
}

h2 {
    color: black;
    font-size: 1.8rem;
}
